body {
  background-color: #123;
  padding: 20px;
}

.board {
  width: 100vh;
  max-width: 100vw;
  display: grid;
  grid-gap: 10px;
  margin: 20px auto;
  grid-template-columns: repeat(6, 1fr);
}

.card {
  background-color: #357;
  border-radius: 5px;
  height: calc((100vh - 90px) / 6);
  max-height: calc((100vw - 90px) / 6);
}
